[submodule "home/vim/bundle/vim-airline"]
	path = home/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "home/vim/bundle/vim-searchant"]
	path = home/vim/bundle/vim-searchant
	url = https://github.com/timakro/vim-searchant.git
[submodule "home/vim/bundle/Vundle.vim"]
	path = home/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
