# Copied from https://www.jamescoyle.net/how-to/3116-rclone-systemd-startup-mount-script
# In order to create the rclone.config for being able to access beans, use `rclone rcd --rc-web-gui` to start the GUI, create a config and use the beans folderId (last part of the URL) as the root folder ID to sync the drive:beans folder to local ~/beans. Allow access from browser and then that should create the ~/config/rclone/rclone.conf with the required credentials.
[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=~/beans

[Service]
Type=simple
ExecStart=bash -c "rclone mount beans:/ ~/beans"
# ExecStop=/bin/fusermount -u ~/beans
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
